* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:before,
*:after {
   box-sizing: inherit;
 }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
img{border:0; max-width:100%; height:auto;vertical-align: middle}
svg:not(:root) {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
}
input, select, textarea {
  outline: 0;
}

html,body{height: 100%;}
body{
  font-family: Microsoft YaHei,tahoma,arial,Hiragino Sans GB, sans-serif;
  outline: 0;
  font-size: 14px;
  min-width: 1200px;
  line-height: 1;
  color: #333;
  background: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
a {
  color: #333;
  -webkit-touch-callout: none;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #ff5256;
}


.clearfix:after {content: "";visibility: hidden;display: block;height: 0;clear: both;}

input::-webkit-input-placeholder {
  color: #999999;
}
input[type="search"], input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none !important
}


.fr-view p{margin: 0 0 10px;}

pre{
  font-family: inherit;font-size: inherit;white-space: pre-wrap;
  padding: 0;margin: 0;border: 0;border-radius: 0;
  background-color: inherit;
}

.list_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

/*居中*/
.flex_center{
  /*上下居中*/
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  /*左右居中*/
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}


.list_flex .box_item, .list_flex .box_info {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.box_flex_1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.inner{
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.ct_bg{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

#header{
  background: url(../img/indexhbg.jpg) no-repeat;
  background-size: cover;
  background-position: top center;
  padding-bottom: 30px;
}
#header li{
  list-style: none;
}
#header .shortcut{
  color: #999;
  font-size: 12px;
  padding-top: 10px;
  height: 44px;
}
#header .shortcut .iconweixin{
  color: #4cbf00;
  padding-left:20px;
  padding-right: 5px;
  font-size: 14px;
}
#header .shortcut ul{
  float: right;
}
#header .shortcut li{
  float: left;line-height: 22px;
  margin-right: 18px;
}
#header .shortcut li:last-child{
  margin-right: 0;
}
#header .shortcut li.spacer{
  overflow: hidden;
  margin-top: 7px;
  width: 1px;
  height: 10px;
  background-color: #999;
}
#header .shortcut a{
  color: #999;
}
#header .shortcut a:hover{
  color: #ff5256;
}
#header .shortcut .wechat{
  position: relative;
}
#header .shortcut .wechat:hover .pane{
  display: block;
}
#header .shortcut .wechat .pane{
  position: absolute;display: none;
  left: 50%;top: 22px;
  margin-left: -140px;
  z-index: 10;
  padding-top: 8px;
}
#header .shortcut .wechat .box{
  position: relative;
  background-color: #fff;width: 302px;
  padding: 0 10px;border: 1px solid #66799e;color: #333;font-size: 14px;
}
#header .shortcut .wechat .box:before{
  position: absolute;content: ' ';
  width: 10px;
  height: 10px;
  left: 50%;margin-left: -5px;
  top: -6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-top: 1px solid #66799e;
  border-right: 1px solid #66799e;
  background-color: #fff;
}
#header .shortcut .wechat .box>div{
  float:left;width: 50%;padding: 10px;line-height: 2;text-align: center;
}
#header .shortcut .wechat .qr{
  width: 120px;height: 120px;
}

#header .head{
  height: 74px;
  color: #fff;
}
#header .head .logo{
  float: left;margin-top: 8px;
}
#header .head .logo a{
  display: block;
}
#header .head .nav{
  float: left;margin-top: 15px;margin-left: 30px;
  line-height: 36px;
}
#header .head .nav>li{
  float: left;margin-right: 10px;font-size: 14px;
}
#header .head .nav li{
  position: relative;
}
#header .head .nav a{
  color: #fff;display: block;padding: 0 10px;
}
#header .head .nav a.active,
#header .head .nav a:hover{
  color: #ff5256;
}
#header .head .nav li.sub:hover,#header .head .nav li.sub:hover a,
#header .head .nav li.sub>a.active{
  background-color: #fff;color: #333;border-radius: 2px;
}
#header .head .nav li.sub li.sub:hover,#header .head .nav li.sub li.sub:hover>a{
  background-color: #dedede;
}

#header .head .nav li.sub ul a{color: #666666;}
#header .head .nav li.sub ul a:hover,
#header .head .nav li.sub ul a.active{
  background-color: #dedede;
}
#header .head .nav li.sub:hover>ul{
  display: block;
}
#header .head .nav li.sub ul{
  display: none;
  position: absolute;z-index: 100;
  background-color: #fff;
  margin-top: -2px;padding: 5px 0;
  box-shadow: 0px 1px 1px #ccc;
}
#header .head .nav li.sub ul ul{
  left: 100%;
  top: -3px;
}
#header .head .nav>li>ul li{
  white-space: nowrap;min-width: 76px;
}

#header .head .search{
  float: right;
  width: 148px;
  margin-top: 15px;height: 36px;background-color: #151826;
  border-radius: 4px;
  color: #727478;
  position: relative;
}
#header .head .search input.key{
  border: 0;background-color: transparent;
  width: 100%;height: 100%;padding: 8px 12px;
  color: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
}
#header .head .search .iconsearch{
  position: absolute;
  width: 36px;height: 36px;line-height: 36px;
  cursor: pointer;
  font-size: 15px;font-weight: bold;
  top: 0;
  right: 0;
  text-align: center;
  background-color: #151826;border-radius: 4px;
}

#header .catemenu{
  width: 240px;
  background-color: #162033;
  color: #848a96;
  font-size: 12px;
  margin-right: 10px;
}
#header .catemenu .iconfont_tm{font-size: 17px;margin-right: 6px;float: left;}
#header .catemenu dl{
  padding-bottom: 13px;
}
#header .catemenu dl:last-child{
  padding-bottom: 5px;
}
#header .catemenu dt{
  margin-bottom: 5px;
}
#header .catemenu dt img{
  margin-top: -8px;
  margin-left: -8px;
}
#header .catemenu dd{
  line-height: 34px;height: 34px;position: relative;
}
#header .catemenu>dl dl{
  position: absolute;left: 100%;
  top: 0;display: none;z-index: 100;
  background-color: #162033;
  padding-bottom: 0!important;
  border-left: 1px solid rgba(255,255,255,.1);
}
#header .catemenu dd:hover>dl{
  display: block;
}
#header .catemenu a{
  color: #848a96;display: block;
  position: relative;
  padding-right: 24px;
  padding-left: 15px;
  white-space: nowrap;
  cursor: pointer;
}
#header .catemenu dd:hover,
#header .catemenu dd:hover>a,
#header .catemenu a:hover{
  color: #ff5256;
  background-color: #2e3747;
}
#header .catemenu .iconarrow_r{
  position: absolute;
  font-size: 8px;
  top: 1px;right: 2px;
}

#header .slider_list{
  width: 950px;
  height: 400px;
}
#header .slider_list a{display: block;}
#header .slider_list .swiper-pagination-bullet-active {
  background: #f52f3e!important;
}
#header .slider_list .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #fff;
}
#header .msgs{
  margin-top: 10px;
  background-color: #fff;
  height: 493px;
  padding: 15px;
}
#header .msgs .headtitle{
  border-bottom: 1px solid #f3f3f3;
  height: 44px;
  padding-bottom: 10px;
}
#header .msgs .headtitle .title{
  float: left;
  font-size: 18px;
  line-height: 34px;
}
#header .msgs .headtitle ul{
  float: right;
}
#header .msgs .headtitle li{
  height: 34px;
  line-height: 34px;
  float: left;
  padding: 0 14px;
  cursor: pointer;
  color: #8a8888;
}
#header .msgs .headtitle li.active,
#header .msgs .headtitle li:hover{
  color: #fff;
  background-color: #c9a035;
}
#header .msgs .con{
  margin-top: 15px;
  height: 394px;
}
#header .msgs .con .leftpic{
  float: left;
  width: 480px;
  height: 394px;
}
#header .msgs .con .leftpic img{
  width: 100%;height: 100%;
  object-fit: cover;
  object-position: center;
  -ms-object-fit: cover;
  -ms-object-position: center;
}
#header .msgs .con ul{
  margin-left: 495px;
}
#header .msgs .con li{
  border-bottom: 1px dotted #cbcbcb;
  height: 66px;
  line-height: 30px;
  padding: 4px 0;
  width: 424px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#header .msgs .con li:last-child{
  border-bottom:none;
}
#header .msgs .con li .date{color: #999999;}
#header .msgs .con li a{
  height: 26px;
}



.footertop{
  background:rgba(26,26,52,1);
  padding-top: 60px;
  padding-bottom: 50px;
}
.footertopleft{
  width: 400px;
  margin-right: 35px;
  display:inline-block;
  vertical-align: top;
}
.footerborder{
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding-bottom: 17px;
  margin-bottom: 19px;
}
.footeraddressname{
  font-size:30px;

  color:rgba(181,181,195,1);
}
.addressnameen{
  font-size:20px;

  color:rgba(68,68,94,1);
  line-height: 42px;
  margin-left: 152px;
}
.footerdes{
  font-size:14px;

  color:rgba(143,143,168,1);
  margin-bottom: 15px;
  text-transform:lowercase;
}
.footertopright{

}
.qscode{
  width: 148px;
  height: 148px;
}
.qscodeimg{
  background-image: url(../images/rubbish/qscode.png);
  width: 148px;
  height: 148px;
}
.weixfont{
  color:rgba(255,255,255,1);
  font-size: 24px !important;
}
.weixtop{
  margin-top: 20px;
}
.saoguan{
  font-size:16px;

  color:rgba(255,255,255,1);
  margin-left: 15px;
}
.about{
  font-size:16px;

  color:rgba(82,82,97,1);
  margin-top: 20px;
}
.aboutus{
  color: rgba(112, 112, 151, 1);
  margin-left: 5px;
  cursor: pointer;
}
.footerbottom{
  background:rgba(14,14,42,1);
  padding: 25px 0;
}
.friendline a,.friendline{
  font-size:12px;
  color:rgba(82,82,97,1);
}
.footertop .iconweixin{padding-right: 14px; font-size: 21px;}
.boxinner{padding-left: 88px;}
.boxinner_p{padding: 17px 0px 0px 6px;}
.boxinner_p p{ color:#8f8fa8; font-size: 14px; line-height: 24px;}
.guideleft{float: left;}
.guideright{float: right;}

.tvmcontent{position: relative; max-width: 1200px;margin: 0 auto;}

.tvmtabwrap{
  margin: 30px 0 40px;
  background: rgba(255,255,255,1);
  box-shadow: rgba(0, 0, 0, 0.08) 10px 10px 30px 5px;
  border-radius: 4px;
  border: 1px solid rgba(244, 242, 245, 1);
}
.tvmtabwrap .tvmtabtitle{
  position: relative;
  height: 60px;line-height: 60px;padding-left: 40px;
  border-bottom: 1px solid rgba(244,242,245,1);
  font-size: 18px;
}
.tvmtabwrap .tvmtabtitle::before{
  position: absolute;content:'';background: rgba(235,76,18,1);
  width: 4px;height: 30px;left: 18px;top: 15px;
}
.tvmtabwrap .myform{padding:30px 40px 40px;}

.tvmtab{margin:auto; border-spacing: 0;border-collapse: collapse;border: 1px solid #ddd;width:100%;font-size: 16px;}
.tvmtab tr td{position: relative; border: 1px solid #ddd;}
.tvmtab .ptitle{padding:8px 12px;font-size: 18px;color: #1B1A35;font-weight: bold;text-align: center;}
.tvmtab .ttitle{width: 180px; padding:8px 12px;color: #1B1A35; text-align: center;}
.tvmtab .ttitle.widthAuto{width: auto;font-weight: normal;text-align: left;}
.tvmtab .ttitle.weightB{font-weight: bold;}
.tvmtab input,
.tvmtab select,
.tvmtab textarea {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 38px;
  padding: 6px 12px;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.5;
  color: #333;
  background: none;
  border: none;
  resize: none;
  outline: none;
  /*cursor: pointer;*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
}
.tvmtab input[type=radio]{
	width:auto;
	display:inline-block;
	border:1px solid #ddd;
	border-radius:50%;
	padding:0px;
	min-height:auto;
	margin:0px 3px;
	width:12px;
	height:12px;
	appearance:button;
	-moz-appearance:button; /* Firefox */
	-webkit-appearance:button; /* Safari 和 Chrome */
}
/*.tvmtab input[disabled],
.tvmtab select[disabled],
.tvmtab textarea[disabled]{
  background:none!important;
}*/
.tvmtab .inlines{position: relative;}
.tvmtab .inlines input,
.tvmtab .inlines select{padding-right:50px;}
.tvmtab .inlines select::-ms-expand { display: none; }
.tvmtab .inlines .r_btn{display: inline-block;position: absolute;padding: 0 15px;height: 38px;line-height: 38px;right: 0;top: 0; text-align: center;}
.tvmtab .inlines .r_btn .b_ar{position: relative;top: 15px; border-left:3px solid transparent;border-right:3px solid transparent;border-top:6px solid #333;}

.tvmtab input[type="file"]{opacity: 0;display: none;}
.tvmtab .smalltab{border-spacing: 0;border-collapse: collapse;border: none;width:auto;}
.tvmtab .smalltab td{padding: 8px 12px;border: none;}
.tvmtab .smalltab td .optbtn,
.tvmtab .smalltab td a{cursor: pointer;text-decoration: underline!important;display: inline-block;min-width: 120px;}
.tvmtab .smalltab td .optbtn{color: #BF3628;}
.tvmtab .uploadbtn{display: inline-block;margin:12px; padding: 6px 10px;font-size: 14px;color: #FFFFFF;border-radius:2px;background-color:#BF3628;cursor: pointer;}

.tvmtab .color_red{color:#FF0000;}

.tvmtab input::-webkit-input-placeholder,
.tvmtab textarea::-webkit-input-placeholder{color: #999999;font-size: 15px;}
.tvmtab input:-moz-placeholder,
.tvmtab textarea:-moz-placeholder{color: #999999;font-size: 15px;}
.tvmtab input::-moz-placeholder,
.tvmtab textarea::-moz-placeholder{color: #999999;font-size: 15px;}
.tvmtab input:-ms-input-placeholder,
.tvmtab textarea:-ms-input-placeholder {color: #999999;font-size: 15px;}


.tvmformdesc{margin-top: 15px;font-size: 15px;line-height: 1.5;}
.tvmformdesc .desctitle{font-weight: bold;}

.tvmformbtns{text-align: center;}
.tvmformbtns .submitbtn{
  width: 108px;
  height: 32px;
  background:#BF3628;
  border-radius: 2px;
  border: none;
  font-size: 16px;
  color: rgba(255,255,255,1);
  line-height: 22px;
  margin-top: 30px;
  cursor: pointer;
  font-family: inherit;
}
.tvmformbtns .submitbtn:disabled{opacity: 0.75;}

.aboutpage{position: relative;background-position: center top;background-size: 100%;background-repeat: no-repeat;background-image: url("../img/about_bg.jpg")}
.leftmenus{width: 240px;float: left;background-color: #F5F2F6;font-size: 16px;text-align: right;margin-bottom: 40px;}
.rightcontent{margin-left: 290px;margin-bottom: 40px;}
.leftmenus .lm_title{height: 126px;margin-top: -63px;padding: 0 20px; font-size:22px;text-align: center;color: #ffffff;background-color: #BD201B;}
.leftmenus .lm_title .lm_en{font-size:14px;text-transform:uppercase; margin-top: 12px;}
.leftmenus .menu_item{position: relative;border-bottom: 1px dashed #dedede;}
.leftmenus .menu_item a{display: block;padding: 24px 38px 24px 20px;position: relative;color: #0e0e29;}
.leftmenus .menu_item a.active,
.leftmenus .menu_item a:hover{color: #bd201b;}
.leftmenus .menu_item>a:after{position: absolute;content: '';background-color: #0e0e29; right: 20px;width: 4px;height: 4px;top: 31px;}
.leftmenus .menu_item>a.active:after,
.leftmenus .menu_item>a:hover:after{background-color: #bd201b;}

.leftmenus .menu_item .menu_child{position: relative;font-size: 14px;display: none}
.leftmenus .menu_item .menu_child .child_item{position: relative;border-top: 1px solid #e4e5e7; }
.leftmenus .menu_item .menu_child .child_item a{padding: 16px 50px 16px 20px;}

.rightcontent .rc_title{display: none; font-size: 20px;padding-top:10px;line-height:50px;margin-bottom: 40px;color: #bd201b;border-bottom: 1px solid #dedede;}
.rightcontent .rc_panel{position: relative;padding-right:40px;}




